.player_buttons {
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  margin: 0 7px;
}

.control_panel {
  background-color: black;
}

.js-video-container {
  flex-grow: 1;
}

#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}